*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.top{
    display: flex;
    border-bottom: white solid 1px;
    height: fit-content;
}

.title{
    color: white;
    height: fit-content;
    margin: 0px auto;
}
.container{
    border:white solid 2px;
    width: 60px;
    height: 20px;
    display: flex;
    border-radius: 40px;
    padding: 2px 0px;
    display: flex;
    align-items: center;
}

.btn{
    width: 40%;
    height: 3.5vh;
    border-radius: 60%;
    background-color: white;
    cursor: pointer;
    display: block;
}

.text{
    color: white;
    border: white solid 1px;
    width: 60%;
    height:fit-content;
    padding: 10px;
    font-size: large;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    font-weight: bold;
}

.btn:focus{
    transform: translateX(30px);
    background-color:black;
    border:transparent;
    transition-duration: 1s;
    cursor: pointer;
}

.butn{
    width: 40%;
    height: 3.5vh;
    border-radius: 60%;
    background-color: black;
    cursor: pointer;
    border: transparent;
    display: none;
    margin-left: 30px;
}

.butn:focus{
    transform: translateX(-21px);
    background-color:black;
    border:transparent;
    transition-duration: 1s;
    cursor: pointer;
}

